.hero {
    border: 1px;
    padding-block-start: 16px;

}
.hero-images {
    text-align: center;
}
.hero-images img {
    border-radius: 24px;
}
.hero h1 {
    font: var(--headline3);
    margin: 0;

}
/* .hero h1 span:first-child {  ES LO MISMO */
.hero h1 span:nth-og-type(1) {
    font: var(--headline5);
    display: block;
}
.hero-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-social {
    padding-block-end: 24px;
}